<ul class="breadcrumb">
  <li><a href="#/index">Home</a></li>
  <li><a href="#/clinician_block_randomizers">Clinician block randomizers</a></li>
  <li><a href="#/clinician_block_randomizers/{{instance.id}}">Clinician block randomizer</a></li>
  <li class="active">Edit</li>
</ul>

<div class="page-header">
  <h1>Edit Clinician block randomizer</h1>
</div>

<form novalidate class="simple-form simple_form form-horizontal" ng-include src="'templates/views/partials/clinician_block_randomizers/form.html'">
</form>
