<ul class="breadcrumb">
  <li><a href="#/index">Home</a></li>
  <li><a href="#/messaging">Messages</a></li>
  <li class="active">Message</li>
</ul>

<div class="page-header">
  <h1>Message</h1>
  <a class="btn btn-primary" ng-href="#/messaging/message/{{instance.id}}/edit">
    <i class="fa fa-pencil"></i>
    Edit
  </a>
</div>

<div class="alert alert-danger" ng-if="error">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Error.</strong><span ng-if="!errorMessage">An unexpected error was encountered</span><span ng-if="errorMessage">{{errorMessage}}</span>
</div>

<table class="table table-striped table-hover" condensed="false" hover="true" striped="true">
  <tbody>
    <tr>
      <td>Id</td>
      <td>{{instance.id}}</td>
    </tr>
    <tr>
      <td>Time</td>
      <td>{{instance.time}}</td>
    </tr>
    <tr>
      <td>Payload</td>
      <td>{{instance.payload}}</td>
    </tr>
    <tr>
      <td>Is Channel?</td>
      <td>{{instance.isChannel}}</td>
    </tr>
    <tr>
      <td>Payload</td>
      <td>{{instance.payload}}</td>
    </tr>
    <tr>
      <td>Apple Badge</td>
      <td>{{instance.apple_badge}}</td>
    </tr>
    <tr>
      <td>Apple Alert</td>
      <td>{{instance.apple_alert}}</td>
    </tr>
    <tr>
      <td>Apple Sound</td>
      <td>{{instance.apple_sound}}</td>
    </tr>
    <tr>
      <td>Apple Expiry</td>
      <td>{{instance.apple_expiry}}</td>
    </tr>
    <tr>
      <td>Apple Content-Available</td>
      <td>{{instance.apple_content_available}}</td>
    </tr>
    <tr>
      <td>Google collapseKey</td>
      <td>{{instance.google_collapseKey}}</td>
    </tr>
    <tr>
      <td>Google </td>
      <td>{{instance.google_delayWhileIdle}}</td>
    </tr>
    <tr>
      <td>Google </td>
      <td>{{instance.google_timeToLive}}</td>
    </tr>
    <tr>
      <td>Google </td>
      <td>{{instance.google_apiKey}}</td>
    </tr>
  </tbody>
</table>
