<div class="alert alert-danger" ng-if="error">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Error.</strong><span ng-if="!errorMessage"> Please review the problems below</span><span ng-if="errorMessage"> {{errorMessage}}</span>
</div>

    
        
        
        
            <form-input name="actual_child_birth" label="Actual child birth" required="false" property="instance.actual_child_birth" type="text" errors="errors.actual_child_birth"></form-input>
        
    
        
        
        
            <form-input name="address" label="Address" required="false" property="instance.address" type="text" errors="errors.address"></form-input>
        
    
        
        
        
            <form-input name="cell_phone" label="Cell phone" required="false" property="instance.cell_phone" type="text" errors="errors.cell_phone"></form-input>
        
    
        
        
        
            <form-input name="city" label="City" required="false" property="instance.city" type="text" errors="errors.city"></form-input>
        
    
        
        
        
            <form-input name="clinician_code_id" label="Clinician code" required="false" property="instance.clinician_code_id" type="number" errors="errors.clinician_code_id"></form-input>
        
    
        
        
        
            <form-input name="clinic_name" label="Clinic name" required="false" property="instance.clinic_name" type="text" errors="errors.clinic_name"></form-input>
        
    
        
        
        
            <form-input name="consent_accepted_on" label="Consent accepted on" required="false" property="instance.consent_accepted_on" type="text" errors="errors.consent_accepted_on"></form-input>
        
    
        
        
        
            <form-input name="contact_cell_phone" label="Contact cell phone" required="false" property="instance.contact_cell_phone" type="text" errors="errors.contact_cell_phone"></form-input>
        
    
        
        
        
            <form-input name="contact_email" label="Contact email" required="false" property="instance.contact_email" type="text" errors="errors.contact_email"></form-input>
        
    
        
        
        
            <form-input name="contact_home_phone" label="Contact home phone" required="false" property="instance.contact_home_phone" type="text" errors="errors.contact_home_phone"></form-input>
        
    
        
        
        
            <form-input name="contact_name" label="Contact name" required="false" property="instance.contact_name" type="text" errors="errors.contact_name"></form-input>
        
    
        
        
        
            <form-input name="deactivated_on" label="Deactivated on" required="false" property="instance.deactivated_on" type="text" errors="errors.deactivated_on"></form-input>
        
    
        
        
        
            <form-input name="education_id" label="Education" required="false" property="instance.education_id" type="number" errors="errors.education_id"></form-input>
        
    
        
        
        
            <form-input name="email" label="Email" required="false" property="instance.email" type="text" errors="errors.email"></form-input>
        
    
        
        
        
            <form-input name="expected_child_birth" label="Expected child birth" required="false" property="instance.expected_child_birth" type="text" errors="errors.expected_child_birth"></form-input>
        
    
        
        
        
            <form-input name="first_name" label="First name" required="true" property="instance.first_name" type="text" errors="errors.first_name"></form-input>
        
    
        
        
        
            <form-input name="has_contact_users" label="Has contact users" required="false" property="instance.has_contact_users" type="checkbox" errors="errors.has_contact_users"></form-input>
        
    
        
        
        
            <form-input name="home_phone" label="Home phone" required="false" property="instance.home_phone" type="text" errors="errors.home_phone"></form-input>
        
    
        
        
        
            <form-input name="intervention_group" label="Intervention group" required="false" property="instance.intervention_group" type="text" errors="errors.intervention_group"></form-input>
        
    
        
        
        
            <form-input name="is_deactive" label="Is deactive" required="false" property="instance.is_deactive" type="checkbox" errors="errors.is_deactive"></form-input>
        
    
        
        
        
            <form-input name="last_name" label="Last name" required="true" property="instance.last_name" type="text" errors="errors.last_name"></form-input>
        
    
        
        
        
            <form-input name="parent_relationship_type" label="Parent relationship type" required="false" property="instance.parent_relationship_type" type="text" errors="errors.parent_relationship_type"></form-input>
        
    
        
        
        
            <form-input name="parent_user_id" label="Parent user" required="false" property="instance.parent_user_id" type="number" errors="errors.parent_user_id"></form-input>
        
    
        
        
        
            <form-input name="password" label="Password" required="false" property="instance.password" type="password" errors="errors.password"></form-input>
        
    
        
        
        
            <form-input name="password_confirmation" label="Password confirmation" required="false" property="instance.password_confirmation" type="password" errors="errors.password_confirmation"></form-input>
        
    
        
        
        
    
        
        
        
            <form-input name="patient_type" label="Patient type" required="false" property="instance.patient_type" type="number" errors="errors.patient_type"></form-input>
        
    
        
        
        
            <form-input name="postal_code" label="Postal code" required="false" property="instance.postal_code" type="text" errors="errors.postal_code"></form-input>
        
    
        
        
        
            <form-input name="race_id" label="Race" required="false" property="instance.race_id" type="number" errors="errors.race_id"></form-input>
        
    
        
        
        
            <form-input name="reason_for_deactivation" label="Reason for deactivation" required="false" property="instance.reason_for_deactivation" type="text" errors="errors.reason_for_deactivation"></form-input>
        
    
        
        
        
            <form-input name="reset_password" label="Reset password" required="false" property="instance.reset_password" type="checkbox" errors="errors.reset_password"></form-input>
        
    
        
        
        
            <form-input name="role" label="Role" required="false" property="instance.role" type="text" errors="errors.role"></form-input>
        
    
        
        
        
            <form-input name="state" label="State" required="false" property="instance.state" type="text" errors="errors.state"></form-input>
        
    
        
        
        
            <form-input name="updated_user_profile" label="Updated user profile" required="false" property="instance.updated_user_profile" type="checkbox" errors="errors.updated_user_profile"></form-input>
        
    
        
        
        
            <form-input name="vaccination_reminders" label="Vaccination reminders" required="false" property="instance.vaccination_reminders" type="checkbox" errors="errors.vaccination_reminders"></form-input>
        
    
        
        
        
            <form-input name="x_session_id" label="X session" required="false" property="instance.x_session_id" type="text" errors="errors.x_session_id"></form-input>
        
    

<div class="form-actions">
  <input class="btn btn-primary" name="commit" type="submit" value="Submit" ng-click="submit(instance)" ng-disabled="loading"/>
  <a href="#/users" class="btn">Cancel</a>
</div>
