<div class="row">
  <div class="col-md-3" ng-include src="'templates/views/partials/sidebar.html'">
  </div>
  <div class="col-md-9">
    <ul class="breadcrumb">
      <li>
        <a href="#/index">Home</a>
      </li>
      <li class="active">Search audit loggings</li>
    </ul>
    <div class="page-header">
      <h1>Search audit loggings</h1>
      <a class="btn btn-primary" href="#/search_audit_loggings/new">
        <i class="fa fa-plus"></i>
        New
      </a>
    </div>

    <div class="alert alert-danger" ng-if="error">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Error.</strong><span ng-if="!errorMessage">An unexpected error was encountered</span><span ng-if="errorMessage">{{errorMessage}}</span>
    </div>

    <div class="alert" ng-if="instances.length == 0">
      <h4>No search audit loggings yet</h4>
      There are no search audit loggings to list.
      <a class="btn btn-mini" href="#/search_audit_loggings/new">Create a new one</a>
    </div>

    <div ng-if="instances.length > 0">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Created At</th>
            <th>Search Term</th>
            <th>User</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="instance in instances">
            <td><a ng-href="#/search_audit_loggings/{{instance.id}}">{{instance.created_at}}</a></td>
            <td><a ng-href="#/search_audit_loggings/{{instance.id}}">{{instance.search_term}}</a></td>
            <td><a ng-href="#/search_audit_loggings/{{instance.id}}">{{instance.user_id}}</a></td>
            <td class="text-center">
              <a ng-href="#/search_audit_loggings/{{instance.id}}/edit" rel="tooltip" title="Edit">
                <i class="fa fa-pencil"></i>
              </a>
              &nbsp;
              &nbsp;
              <a ng-href="#/search_audit_loggings" title="Delete" rel="tooltip nofollow" ng-click="destroy(instance)">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <paginator></paginator>
    </div>
  </div>
</div>
