<ul class="breadcrumb">
  <li><a href="#/index">Home</a></li>
  <li><a href="#/survey_question_skip_logics">Survey question skip logics</a></li>
  <li><a href="#/survey_question_skip_logics/{{instance.id}}">Survey question skip logic</a></li>
  <li class="active">Edit</li>
</ul>

<div class="page-header">
  <h1>Edit Survey question skip logic</h1>
</div>

<form novalidate class="simple-form simple_form form-horizontal" ng-include src="'templates/views/partials/survey_question_skip_logics/form.html'">
</form>
